.intro_title {
    font-family: var(--title_font);
    /* margin: 85px 5% 30px; */
    padding-top: 30px;
    font-size: 80px;
    border-top: 8px solid var(--porter_black);
}

.homeContentContainer{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}