.mainBackground{
    width: 100%;
}

.homePage{  
    background-image: url('../../images/Porter_LinkedIn_Cover_Black.png');
    min-height: calc(100vh - 118px );
    background-size: cover;
}

.homeContent{
    padding: 10px 5%;
}

h1 {
    padding-top: 1%;
    font-size: 180px;
    font-family: var(--title_font);
    border-top: 10px solid var(--ebb_white);
    color: var(--ebb_white);
    width: 100%;
}

.downArrow {
	position: absolute;
	bottom: 40px;
	right: 50%;
	animation: 1s linear 1s infinite alternate animateDown ;
}
@keyframes animateDown{
	from{
		transform: translateY(0);
	}
	to {
		transform: translateY(20px);
	}
}

@media screen and (max-width: 1675px) {
    .downArrow {
        display: none;
    } 
    h1 {
        padding-top: 1%;
        /* font-size: 100px; */
    }
    
}

