.contrastCard {
    background-color: var(--red_orange);
    padding: 20px 20px;
    margin: -20px 0 -20px -20px;
    color:var(--ebb_white);
    font-weight:600;
}

.textLinkFormat {
    display:flex;
    flex-direction: column;
    justify-self: flex-end;
    align-content: center;
}
.textLinkFormat h3{
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 30px;
}
.textLinkFormat p{
    padding-bottom: 40px;
    height: 265px;
    min-width: 360px;
}

.textLinkFormat span{
    font-weight: 700;
    color: var(--red_orange);
}
.textLinkFormat span:hover{
    color: var(--porter_black);
}
.contrastCard > span{
    color: var(--porter_black);
    font-size: 17px;
}
.contrastCard > span:hover{
    color: var(--ebb_white);
}
.contrastCard p{
    height: 235px;
}

@media screen and (max-width: 1190px) {
    .textLinkFormat h3{
        text-decoration-line: underline ;
    }
}
@media screen and (max-width: 410px) {
    .textLinkFormat p{
        min-width: 0px;
        height: 100%;
    }
    .contrastCard p{
        height: 100%;
    }
}