.card_row {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.card_row div {
    width: 33%;
    min-width: 265px;
}

.border_top {
    border-top: 5px solid black;
    padding-top: 40px;
}
.card_padding{
    padding-bottom: 15px;
}
.card_padding div{
        padding-right:100px ;    
}

.font_title h3 {
	font-size: 65px;
	padding-bottom: 10px;
}
.font_title p {
	font-size: 24px;
}

.hr {
    margin-left: 5%;
    margin-right: 36%;
}

/* @media screen and (min-width: 1600px) {
    .card_row {
        display: flex;
        justify-content: space-evenly; 
        flex-wrap: wrap;
    }
} */