.contrastCard {
    background-color: var(--red_orange);
    padding: 20px 20px;
    margin: -20px 0 -20px -20px;
    color:var(--ebb_white);
    font-weight:600;
}

.textLinkFormat {
    display:flex;
    flex-direction: column;
    justify-self: flex-end;
    align-content: center;
}
 h3{
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 30px;
}
.textLinkFormat p{
    padding-bottom: 40px;
    height: 265px;
}

.textLinkFormat span{
    font-weight: 700;
    color: var(--red_orange);
}
.textLinkFormat span:hover{
    color: var(--porter_black);
}
.contrastCard > span{
    color: var(--porter_black);
    font-size: 17px;
}
.contrastCard > span:hover{
    color: var(--ebb_white);
}
.contrastCard p{
    height: 235px;
}