.aboutUsPage{
    background-color: var(--ebb_white);
    padding: 2% 5%;
    width: 100%;
}

.aboutUsPage h1{
    color: var(--porter_black);
    font-size: 65px;
    border-top: 8px solid var(--porter_black);
    margin-bottom: 20px;
}

.aboutContainer {
 font-family: var(--text_font);
 padding-top: 40px;
 border-top: 3px solid var(--porter_black);
 line-height: 30px;
 font-size: 20px;
 margin-top: 30px;
 display: flex;
}

.aboutContainer img{
    width: 68vw;
    object-fit: contain;
    margin-left: 40px;
}
.aboutContent p {
    margin-bottom: 30px;
}
