.About_Us_content{
    background-color: var(--ebb_white);
    padding: 5%;
    padding-top: 3.5%;
    width: 100%;
}

.About_Us_content h1{
    color: var(--porter_black);
    font-size: 65px;
    border-top: 8px solid var(--porter_black);
    margin-bottom: 20px;
}

.About_p{
 font-family: var(--text_font);
 padding-top: 20px;
 border-top: 3px solid var(--porter_black);
 line-height: 30px;
 font-size: 20px;
 margin-right: 3%;

}

.About_div {
    display: flex;
   
}

.About_div img{
    width: 68%;
    max-height: 750px;
}

.Our_Team_content{
    background-color: var(--porter_black);
    padding: 5%;
    padding-top: 3.5%;
    width: 100%;
}

.Our_Team_content h1{
    color: var(--red_orange)
}