.card_row {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 5%; 
}

.card_row div {
    width: 33%;
    height: 150px;
}

.border_top {
    border-top: 5px solid black;
    padding-top: 40px;
}

.card_padding > div{
        padding-right:100px ;    
}

