.carousel{
   position:absolute;
   width: 30%;
   left: 5%;
   bottom:3%;
}

.carousel_Project_card{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: var(--ebb_white)
}

.carousel_padding{
   padding: 10px;
}

.Lower_line_break{
   margin: 10px;
   padding: 2px;
   background-color: var(--ebb_white);
}
.head_line_break{
   margin: 10px;
   padding: 4px;
   background-color: var(--ebb_white);
}
.project_title{
   display: flex;
}
.project_name{
   font-size: 26px;
}
.project_location{
   align-self: flex-end;
   font-size: 16px;
}
.project_link{
   display: flex;
}
.project_link img{
   width: 80%;
}
.arrow{
   justify-content: center;
   align-items: center;
   color: var(--red_orange);
}
.arrow img{
   width: 100px;
}
