.header_container {
	background-color: var(--porter_black);
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}

/*********** Logo Image **************/
.logo_img {
	padding-left: 40px;
	padding-top: 30px;
	height: 85px;
}

/*********** Navigation Bar **************/
.nav_container {
  display: flex;
  margin-right: 5%;
  align-items: flex-end;
}
.navbar_nav {
	display: flex;
}
.nav_link {
	color: var(--ebb_white);
  margin: 0px 10px;
  font-size: 24px;
}
.nav_link:hover{
	color:var(--red_orange);
}
