:root{
  /* Primary colors */
  --porter_black:#161616 ;
  --red_orange: #ff4622  ;
  --warm_gray: #a09f9f;
  --ebb_white: #eeeaea;
/* Secondary colors */
  --picton_blue: #24a1ff;
  --sun_yellow: #ffc943;
}



body {
  font-family: 'Crimson', sans-serif;
}

